<p>Olá, <strong>{{ deliveryman }}</strong>!</p>
<br />
<p>Sua entrega foi cancelada, segue mais detalhes abaixo.</p>
<h3>Detalhes</h3>
<p>
  <strong>#ID: </strong>{{ id }}<br />
  <strong>Produto: </strong>{{ product }}<br />
  <strong>Data/Cancelamento: </strong>{{ canceled_at }}<br />
</p>

<h3>Cliente</h3>
<p>
  <strong>Nome: </strong>{{ name }}<br />
  <strong>Endereço: </strong>{{ street }}, Nº{{ number }}<br />
  <strong>Cidade: </strong>{{ city }} - {{ state }}<br />
  <strong>CEP: </strong>{{ zip_code }}<br />
</p>
<br />
